<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Моделирование потоков метро</title>
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
  <div class="navbar navbar-dark bg-navbar-primary shadow-sm">
    <div class="container">
      <a href="{% url 'search_modeling' %}" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'images/logo.png' %}" alt="Логотип AnyMetro" class="me-2" width="40" height="40">
        <strong>AnyMetro</strong>
      </a>

      <div class="btn-group">
        <a href="" class="btns-log">Зарегистрироваться</a>
        <a href="" class="btns-log">Войти</a>
      </div>

    </div>
  </div>
</header>
{% block content %}
<main>
  <section class="py-5 text-center background-image">
    <div class="container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bold">Моделирование потоков метро</h1>
          <p class="main-description-text">Предлагаем инновации для городов и метро, обеспечивая комфорт и эффективность. Анализируем пассажиропотоки, прогнозируем спрос и управляем движением с оптимальными стратегиями. </p>
          <p><a href="" class="btn main-link-button btn-lg my-2">Попробовать AnyMetro</a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-cards">
    <form action="{% url 'search_modeling' %}" method="get" class="main-page-form">
      <input type="text" name="q" placeholder="Я хочу найти...">
      <button type="submit">Найти</button>
    </form>
  </div>

  
  <div class="bg-cards card-container">
    <div class="container">
      <a name="search-results"></a>
      <div class="row">
        {% for model in init_data.modeling %}
        <div class="col-sm-4 mb-3">
          <a class="card-href" href="{% url 'modeling_detail' model.modeling_id %}">
            <div class="custom-card">
              <img src="{% static model.modeling_image_url %}" alt="{{ model.modeling_name }}" class="custom-card-img">
              <div class="custom-card-body">
                <p class="custom-card-text text-center">{{ model.modeling_name }}</p>
              </div>
            </div>
          </a>
        </div>            
        {% endfor %}
      </div>
    </div>
  </div>
</main>
<section class="background-image-under">
</section>

{% endblock %}

<footer>
  <div class="container d-flex justify-content-between align-items-center">
    <p><a href="" class="btn contact-button btn-lg my-2">Связаться с нами</a></p>
    <p>©The Company AnyMetro</p>
  </div>
</footer>

</body>
</html>